<h1>Customs Brokerage</h1>

<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">account_box</mat-icon>
        Dashboard
    </ng-template>
     
    <div fxLayout='row' fxLayoutAlign='space-around center'>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Sales</mat-card-title>
          <mat-card-subtitle>Annual Comparison</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://picsum.photos/id/1031/367/267" alt="Building">
        <mat-card-actions>
          <button mat-raised-button color='primary'>Details</button>
        </mat-card-actions>
      </mat-card>
    
      <mat-card>
        <mat-card-header>
          <mat-card-title>Entry Volume</mat-card-title>
          <mat-card-subtitle>Total # of Entries</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://picsum.photos/id/4/367/267" alt="Note taking">
        <mat-card-actions>
          <button mat-raised-button color='accent'>Details</button>
        </mat-card-actions>
      </mat-card>
    
    
      <mat-card>
        <mat-card-header>
          <mat-card-title>ISF Filines</mat-card-title>
          <mat-card-subtitle>Total # of ISF Filings</mat-card-subtitle>
        </mat-card-header>
    
        <img mat-card-image src="https://picsum.photos/id/3/367/267" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <button mat-raised-button color='warn'>Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
    
    <div fxLayout='row' fxLayoutAlign='space-around center'>
      <mat-card>
        <mat-card-header>
          <mat-card-title>AMS Filings</mat-card-title>
          <mat-card-subtitle>Total # of AMS Filings</mat-card-subtitle>
        </mat-card-header>
    
        <img mat-card-image src="https://picsum.photos/id/249/367/267" alt="Photo of a bridge">
        <mat-card-actions>
          <button mat-raised-button color='primary'>Details</button>
        </mat-card-actions>
      </mat-card>
    
      <mat-card>
        <mat-card-header>
          <mat-card-title>Distribution</mat-card-title>
          <mat-card-subtitle>Inland Logistics</mat-card-subtitle>
        </mat-card-header>
    
        <img mat-card-image src="https://picsum.photos/id/204/367/267" alt="Railroad Tracks">
        <mat-card-actions>
          <button mat-raised-button color='accent'>Details</button>
        </mat-card-actions>
      </mat-card>
    
      <mat-card>
        <mat-card-header>
          <mat-card-title>E-Commerce</mat-card-title>
          <mat-card-subtitle>Other Vendors</mat-card-subtitle>
        </mat-card-header>
    
        <img mat-card-image src="https://picsum.photos/id/0/367/267" alt="Laptop on a desk">
        <mat-card-actions>
          <button mat-raised-button color='warn'>Details</button>
        </mat-card-actions>
      </mat-card>
    
    </div>
    

  </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">account_box</mat-icon>
          Customs Brokerage
      </ng-template>
      <mat-card style="width:800px; height:600px">
        <mat-card-header>
          <mat-card-title>Customs Brokerage</mat-card-title>
          <mat-card-subtitle>ABI to CBP</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
           <app-address></app-address>
        </mat-card-content>
      </mat-card>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">assessment</mat-icon>
        Section 321
      </ng-template>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Section 321</mat-card-title>
          <mat-card-subtitle>For Shipments Under $800</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, magni. Mollitia ullam nihil suscipit temporibus vel illo atque, quod, cum a quia aut odio placeat eligendi modi rerum totam assumenda?
          A, consectetur! Tempore asperiores quia aspernatur fuga quis? Rem commodi aliquam illo, velit ea modi quibusdam tempora consectetur nemo consequatur voluptas itaque est necessitatibus aspernatur soluta iure autem veritatis optio?
          Harum tempora doloribus incidunt numquam dolor ipsa quas maiores dolores quaerat, recusandae placeat. Maiores, laborum error corrupti assumenda modi officia in necessitatibus, voluptatum optio architecto dolores magnam ex, consequuntur dolor.
          Voluptate mollitia illum asperiores quos veritatis iure numquam sunt incidunt hic quaerat, commodi velit nemo odio, voluptatum provident eos ipsam maiores praesentium reprehenderit vitae delectus nesciunt. Quis quasi quo consequuntur!
          Iste, dolor? Obcaecati rem voluptate totam saepe assumenda modi, sunt repudiandae soluta odio odit, esse, consequuntur porro voluptatibus pariatur. Reprehenderit temporibus qui nostrum rerum perferendis aliquid vel corrupti ullam laboriosam.
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">dns</mat-icon>
        Foreign Trade ZOne
      </ng-template>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Foreign Zone</mat-card-title>
          <mat-card-subtitle>For Shipments Eligible for FTZ</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, magni. Mollitia ullam nihil suscipit temporibus vel illo atque, quod, cum a quia aut odio placeat eligendi modi rerum totam assumenda?
          A, consectetur! Tempore asperiores quia aspernatur fuga quis? Rem commodi aliquam illo, velit ea modi quibusdam tempora consectetur nemo consequatur voluptas itaque est necessitatibus aspernatur soluta iure autem veritatis optio?
          Harum tempora doloribus incidunt numquam dolor ipsa quas maiores dolores quaerat, recusandae placeat. Maiores, laborum error corrupti assumenda modi officia in necessitatibus, voluptatum optio architecto dolores magnam ex, consequuntur dolor.
          Voluptate mollitia illum asperiores quos veritatis iure numquam sunt incidunt hic quaerat, commodi velit nemo odio, voluptatum provident eos ipsam maiores praesentium reprehenderit vitae delectus nesciunt. Quis quasi quo consequuntur!
          Iste, dolor? Obcaecati rem voluptate totam saepe assumenda modi, sunt repudiandae soluta odio odit, esse, consequuntur porro voluptatibus pariatur. Reprehenderit temporibus qui nostrum rerum perferendis aliquid vel corrupti ullam laboriosam.
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">dns</mat-icon>
        Drawback - Your money returned
      </ng-template>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Drawback</mat-card-title>
          <mat-card-subtitle>Duty Refunds for Previously Imported Shipments </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, magni. Mollitia ullam nihil suscipit temporibus vel illo atque, quod, cum a quia aut odio placeat eligendi modi rerum totam assumenda?
          A, consectetur! Tempore asperiores quia aspernatur fuga quis? Rem commodi aliquam illo, velit ea modi quibusdam tempora consectetur nemo consequatur voluptas itaque est necessitatibus aspernatur soluta iure autem veritatis optio?
          Harum tempora doloribus incidunt numquam dolor ipsa quas maiores dolores quaerat, recusandae placeat. Maiores, laborum error corrupti assumenda modi officia in necessitatibus, voluptatum optio architecto dolores magnam ex, consequuntur dolor.
          Voluptate mollitia illum asperiores quos veritatis iure numquam sunt incidunt hic quaerat, commodi velit nemo odio, voluptatum provident eos ipsam maiores praesentium reprehenderit vitae delectus nesciunt. Quis quasi quo consequuntur!
          Iste, dolor? Obcaecati rem voluptate totam saepe assumenda modi, sunt repudiandae soluta odio odit, esse, consequuntur porro voluptatibus pariatur. Reprehenderit temporibus qui nostrum rerum perferendis aliquid vel corrupti ullam laboriosam.
        </mat-card-content>
      </mat-card>
    </mat-tab>

  </mat-tab-group>
