<h1>Customers Page</h1>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Company</th>
        <th>Status</th>
        <th>Activity</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cus of customers">
        <td>{{ cus.id }}</td>
        <td>{{ cus.name}}</td>
        <td>{{ cus.company }}</td>
        <td>{{ cus.status }} </td>
        <td>{{ cus.activity }}</td>
        <td>{{ cus.balance | currency}} </td>
      </tr>
    </tbody>
  </table>
</div>
