<h1>Importer's Component Screen</h1>

<form [formGroup]="importerForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <!-- <mat-card-header>
        <mat-card-title>Shipping Information</mat-card-title>
      </mat-card-header> -->
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Clinet ID" formControlName="clientId">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Company name" formControlName="name">
              <mat-error *ngIf="importerForm.controls['name'].hasError('required')">
                Company name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Address Line 1" formControlName="address1">
              <mat-error *ngIf="importerForm.controls['address1'].hasError('required')">
                Address Line 1 is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        
        <!-- <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Address Line 2" formControlName="address2"></textarea>
              <mat-error *ngIf="importerForm.controls['address2'].hasError('required')">
                Address Line 2 is <strong>optional</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div> -->


        <div class="row" *ngIf="!hasUnitNumber">
          <div class="col">
            <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
              + Add C/O, Apt, Suite, Unit
            </button>
          </div>
        </div>

        <div class="row" *ngIf="hasUnitNumber">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Address 2" formControlName="address2"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="City" formControlName="city">
              <mat-error *ngIf="importerForm.controls['city'].hasError('required')">
                City is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="State" formControlName="state">
                <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                  {{ state.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="importerForm.controls['state'].hasError('required')">
                State is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput #postalCode maxlength="5" placeholder="Postal Code" type="number" formControlName="postalCode">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Country Name" type="text" formControlName="country">
            </mat-form-field>
          </div>

        </div>

        <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Telephone #" type="number" formControlName="phone1">
              </mat-form-field>
            </div>
  
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="EMail" type="email" formControlName="email">
              </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Website" type="text" formControlName="website">
                </mat-form-field>
            </div>
  
          </div>
      
      </mat-card-content>
    </mat-card>
  </form>
  
  <p> Form Value: {{ importerForm.value | json }}</p>