<h1>Clients</h1>
<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">account_box</mat-icon>
          Clients
      </ng-template>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Clients</mat-card-title>
          <mat-card-subtitle>ABI to CBP</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, magni. Mollitia ullam nihil suscipit temporibus vel illo atque, quod, cum a quia aut odio placeat eligendi modi rerum totam assumenda?
          A, consectetur! Tempore asperiores quia aspernatur fuga quis? Rem commodi aliquam illo, velit ea modi quibusdam tempora consectetur nemo consequatur voluptas itaque est necessitatibus aspernatur soluta iure autem veritatis optio?
          Harum tempora doloribus incidunt numquam dolor ipsa quas maiores dolores quaerat, recusandae placeat. Maiores, laborum error corrupti assumenda modi officia in necessitatibus, voluptatum optio architecto dolores magnam ex, consequuntur dolor.
          Voluptate mollitia illum asperiores quos veritatis iure numquam sunt incidunt hic quaerat, commodi velit nemo odio, voluptatum provident eos ipsam maiores praesentium reprehenderit vitae delectus nesciunt. Quis quasi quo consequuntur!
          Iste, dolor? Obcaecati rem voluptate totam saepe assumenda modi, sunt repudiandae soluta odio odit, esse, consequuntur porro voluptatibus pariatur. Reprehenderit temporibus qui nostrum rerum perferendis aliquid vel corrupti ullam laboriosam.
        </mat-card-content>
      </mat-card>
      <app-customers></app-customers>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">assessment</mat-icon>
        Vendors
      </ng-template>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Vendors</mat-card-title>
          <mat-card-subtitle>For Shipments Under $800</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, magni. Mollitia ullam nihil suscipit temporibus vel illo atque, quod, cum a quia aut odio placeat eligendi modi rerum totam assumenda?
          A, consectetur! Tempore asperiores quia aspernatur fuga quis? Rem commodi aliquam illo, velit ea modi quibusdam tempora consectetur nemo consequatur voluptas itaque est necessitatibus aspernatur soluta iure autem veritatis optio?
          Harum tempora doloribus incidunt numquam dolor ipsa quas maiores dolores quaerat, recusandae placeat. Maiores, laborum error corrupti assumenda modi officia in necessitatibus, voluptatum optio architecto dolores magnam ex, consequuntur dolor.
          Voluptate mollitia illum asperiores quos veritatis iure numquam sunt incidunt hic quaerat, commodi velit nemo odio, voluptatum provident eos ipsam maiores praesentium reprehenderit vitae delectus nesciunt. Quis quasi quo consequuntur!
          Iste, dolor? Obcaecati rem voluptate totam saepe assumenda modi, sunt repudiandae soluta odio odit, esse, consequuntur porro voluptatibus pariatur. Reprehenderit temporibus qui nostrum rerum perferendis aliquid vel corrupti ullam laboriosam.
        </mat-card-content>
      </mat-card>
      <app-customers></app-customers>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">dns</mat-icon>
        Carriers
      </ng-template>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Carriers</mat-card-title>
          <mat-card-subtitle>For Shipments Eligible for FTZ</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, magni. Mollitia ullam nihil suscipit temporibus vel illo atque, quod, cum a quia aut odio placeat eligendi modi rerum totam assumenda?
          A, consectetur! Tempore asperiores quia aspernatur fuga quis? Rem commodi aliquam illo, velit ea modi quibusdam tempora consectetur nemo consequatur voluptas itaque est necessitatibus aspernatur soluta iure autem veritatis optio?
          Harum tempora doloribus incidunt numquam dolor ipsa quas maiores dolores quaerat, recusandae placeat. Maiores, laborum error corrupti assumenda modi officia in necessitatibus, voluptatum optio architecto dolores magnam ex, consequuntur dolor.
          Voluptate mollitia illum asperiores quos veritatis iure numquam sunt incidunt hic quaerat, commodi velit nemo odio, voluptatum provident eos ipsam maiores praesentium reprehenderit vitae delectus nesciunt. Quis quasi quo consequuntur!
          Iste, dolor? Obcaecati rem voluptate totam saepe assumenda modi, sunt repudiandae soluta odio odit, esse, consequuntur porro voluptatibus pariatur. Reprehenderit temporibus qui nostrum rerum perferendis aliquid vel corrupti ullam laboriosam.
        </mat-card-content>
      </mat-card>
      <app-customers></app-customers>
    </mat-tab>
  </mat-tab-group>
