.example-card {
    max-width: 400px;
  }
  

  
  h1 {
    text-align: center;
  }

  .container {
    width: 100%;
    overflow:auto;
  }
  
  .bgc
   {
    background-color: aquamarine;
  }

  .rgc {
    background-color: burlywood;
  }