<h1 class="bgc">ISF Parties Information</h1>


<div class="container">
  <div class="row align-items-start">
  
  <mat-card class="example-card col" style="color:magenta">
    <mat-card-header>
      <mat-card-title>Seller</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-address-do></app-address-do>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card col" style="color:mediumblue">
    <mat-card-header>
      <mat-card-title>Booking Party</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-address-do></app-address-do>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card col" style="color:mediumpurple">
    <mat-card-header>
      <mat-card-title>Container Stuffing Location</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-address-do></app-address-do>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card col" style="color:mediumspringgreen">
    <mat-card-header>
      <mat-card-title>Consolidator</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-address-do></app-address-do>
    </mat-card-content>
  </mat-card>

  </div>
</div>


<div class="container">
  <div class="row align-items-start">
  
  <mat-card class="example-card col" style="color:hotpink;">
    <mat-card-header>
      <mat-card-title>Importer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-address-do></app-address-do>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card col" style="color:khaki">
    <mat-card-header>
      <mat-card-title>Buying Party</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-address-do></app-address-do>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card col" style="color:lightslategray">
    <mat-card-header>
      <mat-card-title>Consignee</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-address-do></app-address-do>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card col" style="color:lightpink">
    <mat-card-header>
      <mat-card-title>Ship To</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-address-do></app-address-do>
    </mat-card-content>
  </mat-card>

  </div>
</div>
