<h1 style='text-align:center; color:orange;'>
    Angular Material Form with Nested Formgroup and Formarray</h1>

<form  [formGroup] ='importerForm'  (ngSubmit)="onSubmit()" class='angForm'>
    <div formArrayName ='importers'>
        <div *ngFor =' let imp of importers().controls; let impIndex=index'>
            <div [formGroupName]="impIndex"
                style='border: 1px solid blue; padding: 10px; width:800px; margin:5px'>
                <p>

                    <mat-form-field appearance='fill' class='col-md-4'>
                        <mat-label> Company Code :</mat-label>
                        <input matInput placeholder='Company Code' type="text" formControlName='clientId' >
                    </mat-form-field>

                    <mat-form-field appearance='fill' class='col-md-4'>
                        <mat-label> {{ impIndex }}: Company Name :</mat-label>
                        <input matInput placeholder='Company Name' type="text" formControlName='name'>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field class='col-md-6'>
                        <mat-label>Address 1: </mat-label>
                        <input matInput placeholder='address 1:' type="text" formControlName='address1'>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field class='col-md-4'>
                        <label for='city'>  City </label>
                        <input matInput type="text" formControlName='city'>
                    </mat-form-field>

                    <mat-form-field class='col-md-4'>
                        <label for="state"> State</label>
                        <input matInput type="text" formControlName='state'>
                    </mat-form-field>

                    <mat-form-field class='col-md-4'>
                        <label for='postalCode'> Postal Code: </label>
                        <input matInput type="text" formControlName='postalCode'>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field class=col-sm-3>
                        <label for="country"> Country :</label>
                        <input matInput type="text" formControlName='country'>
                    </mat-form-field>

                    <mat-form-field class='col-md-4'>
                        <label for='phone1'> Phone 1: </label>
                        <input matInput type="text" formControlName='phone1'>
                    </mat-form-field>

                    <mat-form-field class='col-sm-4'>
                        <label for="email"> Email :</label>
                        <input matInput type="email" formControlName='email'>
                    </mat-form-field>

                    <mat-form-field class='col-dm-3'>
                        <label for='website'> Website </label>
                        <input matInput type="url" formControlName='website'>
                    </mat-form-field>
                </p>

                <div formGroupName='htsGroup'>
                    <h2>HTS Information</h2>
                        <label for='htsNo'> HTS #: </label>
                        <input type="text" formControlName='htsNo'>

                        <label for="description"> Description</label>
                        <input type="text" formControlName='description'>

                        <label for='spi'> SPI </label>
                        <input type="text" formControlName='spi'>

                </div>


                <div formArrayName='pgas'>
                  <h2>PGA Information</h2>
                  <div *ngFor='let pga of importerPga(impIndex).controls; let pgaIndex=index'>
                    <div [formGroupName]="pgaIndex">
                        <label for='pgaName'> {{pgaIndex}} PGA Agency: </label>
                        <input type="text" formControlName='pgaName'>

                        <label for="pgaCode"> PGA Code</label>
                        <input type="text" formControlName='pgaCode'>

                        <label for='pgaMfr'> Manufacturer </label>
                        <input type="text" formControlName='pgaMfr'>

                        <label for='pgaImp'> Importer </label>
                        <input type="text" formControlName='pgaImp'>

                        <button (click)='removeImporterPga(impIndex, pgaIndex)'>Remove PGA</button>
                    </div>
                  </div>
                    <button type='button' (click)='addImporterPga(impIndex)'>Add PGA</button>
              </div>


            </div>
            <button type='button' (click)='addImporter()'>Add Importer </button> | 

            <button type='button' (click)='removeImporter(impIndex)'>Delete Importer </button>
        </div>
    </div>
    
</form>

{{ this.importerForm.value | json}}
