<div *ngIf ='importer' class='container'>

  <h2>{{ importer.name | uppercase  }}  Details </h2>

    <div class='row mb-3'><span>Importer Id:  {{ importer.clientId }} </span> </div>
    <div class='row mb-3'><span>Importer Name:  {{importer.name}}</span>  </div>
    <div class='row mb-3'><span>Importer Address 1:  {{ importer.address1 }} </span></div>
    <div class='row mb-3'><span>Importer Address 2:  {{ importer.address2 }} </span></div>
    <div class='row mb-3'><span>Importer City:  {{ importer.city }} </span></div>
    <div class='row mb-3'><span>Importer State:  {{ importer.state }} </span></div>
    <div class='row mb-3'><span>Importer Phone # {{ importer.phone1 }} </span></div>

</div>
