<h1>How Am I Doing?</h1>

<div fxLayout='row' fxLayoutAlign='space-around center'>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sales</mat-card-title>
      <mat-card-subtitle>Annual Comparison</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://picsum.photos/id/1031/367/267" alt="Building">
    <mat-card-actions>
      <button mat-raised-button color='primary'>Details</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Entry Volume</mat-card-title>
      <mat-card-subtitle>Total # of Entries</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://picsum.photos/id/4/367/267" alt="Note taking">
    <mat-card-actions>
      <button mat-raised-button color='accent'>Details</button>
    </mat-card-actions>
  </mat-card>


  <mat-card>
    <mat-card-header>
      <mat-card-title>ISF Filines</mat-card-title>
      <mat-card-subtitle>Total # of ISF Filings</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="https://picsum.photos/id/3/367/267" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button mat-raised-button color='warn'>Details</button>
    </mat-card-actions>
  </mat-card>
</div>

<div fxLayout='row' fxLayoutAlign='space-around center'>
  <mat-card>
    <mat-card-header>
      <mat-card-title>AMS Filings</mat-card-title>
      <mat-card-subtitle>Total # of AMS Filings</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="https://picsum.photos/id/249/367/267" alt="Photo of a bridge">
    <mat-card-actions>
      <button mat-raised-button color='primary'>Details</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Distribution</mat-card-title>
      <mat-card-subtitle>Inland Logistics</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="https://picsum.photos/id/204/367/267" alt="Railroad Tracks">
    <mat-card-actions>
      <button mat-raised-button color='accent'>Details</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>E-Commerce</mat-card-title>
      <mat-card-subtitle>Other Vendors</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="https://picsum.photos/id/0/367/267" alt="Laptop on a desk">
    <mat-card-actions>
      <button mat-raised-button color='warn'>Details</button>
    </mat-card-actions>
  </mat-card>

</div>
